* { box-sizing: border-box; }
.row::after { content: ""; clear: both; display: table; }

/* Start Keva One Logo */
.kvl img {
    height: 12em;
}
.kvlm img {
    height: 16em;
}
.kvlm label {
    font-size: x-large;
}
/* .okvl { padding-bottom: 1em; }
.okvl>div>i:nth-child(1) { color: whitesmoke; font-size: 2.15em; top: -2%; }
.okvl>div>i:nth-child(2) { color: #b30047; top: -2%; }
.okvl>div>i:nth-child(3) { color: whitesmoke; }
.okvl>div>i:nth-child(4) { color: #b30047; top: -30%; font-size: 0.7em; }
.okvl>div>i:nth-child(5) { color: whitesmoke; top: -29%; font-size: 0.59em; }
.okvl>div>i:nth-child(6) { top: 17%; left: 12%; color: #b30047; font-size: 0.77em; height: 50px; }
.okvl>div>i:nth-child(7) { top: 17%; left: 12%; color: forestgreen; font-size: 0.7em; height: 50px; }
.okvl>div>i:nth-child(8) { top: 17%; left: 12%; color: #004de6; font-size: 0.7em; height: 50px; } */
/* End Keva One Logo */

/* Start Colors */


.i { color: slategray; }

/* Light */
/*
body { background-color: whitesmoke; }
.head { background-color: whitesmoke; }
.foot { background-color: whitesmoke; }
.avatar_box { background-color: whitesmoke; }
.bio_box { background-color: whitesmoke; }
.findme_box { background-color: whitesmoke; }
.rs-wrap { background-color: gainsboro; }
.rs-head>div { background-color: gainsboro; }
.rs-title>div { background-color: silver; }
.rs-main>div { background-color: whitesmoke; }
.rs-foot>div { background-color: gainsboro; }
.vbtn>form>div>div>button {
    background-color: gainsboro;
    color: slategray;
}
.dropdown-content { background-color: whitesmoke; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); }
.dropdown-content a { color: black; }
.dropdown-content a:hover {background-color: gainsboro;}
*/
/* Dark */
body { background-color: #22262a; }
.head { background-color: #22262a; }
.howto { background-color: whitesmoke; }
.request { background-color: whitesmoke; }
.privacy { background-color: whitesmoke; }
.idx>div:nth-child(1) { background-color: whitesmoke; }
.about { background-color: whitesmoke; }
.search { background-color: whitesmoke; }
.contact { background-color: whitesmoke; }
.foot { background-color: whitesmoke; }
.avatar_box { background-color: #22262a; color: whitesmoke; }
.profile-head { color: whitesmoke; }
.bio_box { background-color: #22262a; color: whitesmoke; }
.findme_box { background-color: #22262a; }
.rs-wrap { background-color: gainsboro; }
.rs-repost { background-color: gainsboro; }
.rs-repost-head>div { background-color: gainsboro; }
.rs-repost-title { background-color: silver; }
.rs-repost-main>div { background-color: whitesmoke; }
.rs-head>div { background-color: gainsboro; }
.rs-title { background-color: silver; }
.rs-main>div { background-color: whitesmoke; }
.rs-reply-main>div { background-color: whitesmoke; }
.rs-reward-head>div>div>div>i:nth-child(1) { color: red; }
.rs-bid-head>div>div>div>i:nth-child(1) { color: green; }
.rs-foot>div { background-color: gainsboro; }

.vbtn>form>div>div>button {
    background-color: gainsboro;
    color: slategray;
}
.dropdown-content { background-color: whitesmoke; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); }
.dropdown-content a { color: black; }
.dropdown-content a:hover {background-color: gainsboro;}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(5)>div:nth-child(1)>a>div {
    background-color: green;
    color: whitesmoke;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(6)>div:nth-child(1)>div:nth-child(1)>form>input:nth-child(2) {
    color: whitesmoke;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(8)>div:nth-child(1)>div:nth-child(1)>a>div {
    background-color: deeppink;
    color: whitesmoke;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(9)>div:nth-child(1)>div:nth-child(1)>a>div {
    background-color: green;
    color: whitesmoke;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(9)>div:nth-child(1)>div:nth-child(2)>a>div {
    background-color: green;
    color: whitesmoke;
}


.rs-reply>div { background-color: gainsboro }
.rs-reply>form>div>div>button {
    background-color: gainsboro;
}
.rs-v>form>div>div>button {
    background-color: gainsboro;
    color: slategray;
}
.nft-item:hover {
    background-color: lightpink;
}
.nft-head>div { background-color: gainsboro; }

.nft-title { background-color: silver; }
.nft-main>div { background-color: whitesmoke; }





/* End Colors */

/* Start Globals */
.tac { text-align: center; }
.dcc {
    justify-content: center;
    display: inline-flex;
}
.bpd { padding-bottom: 5em; }
.bpe { padding-bottom: 1em; }

.pnav span, .foot span {
    padding-left: 5px;
}

.submit {
    /* width: 50%; */
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    border: none;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: forestgreen;
}
.submit:hover {
    background-color: darkgreen;
    border: none;
}
/* End Globals */



/* For mobile phones: */
[class*="col-"] {
    float: left;
    width: 100%;
}




/* Start Captcha Timer */
@keyframes example {
    from {background-color: none;}
    to {background-color: red;}
  }
  
  /* The element to apply the animation to */
/* .tdiv {
    max-width: 100px;
    height: auto;
    background-color: none;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-duration: 90s;
} */
#captcha {
    background-color: none;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-duration: 90s;
}
/* End Captcha Timer */


/* Start Header */
.head { text-align: right; }
.head>div>div { display: inline; }
.head img { height: 1em; }

.dropdown {
    position: absolute;
    right: 8px;
    float: right;
    /* width: 160px; */
    text-align: right;
}
.dropbtn {
      height: 3em;
      cursor: pointer;
}
.droplogo { height: 1.25em; vertical-align: -25%; }
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    text-align: left;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    white-space: nowrap;
    display: block;
}
.dropdown-content span {
    padding-left: 10px;
}
.dropdown:hover { width: 160px; }
.dropdown:hover .dropdown-content { display: block; }

/* End Header */

/* Start Footer */
.foot { /* max-height: 1.75em; */ position: fixed; bottom: 0%; width: 100%; margin-left: -8px; }
.foot>div:nth-child(1)>div { text-align: left; white-space: nowrap; padding: 5px; }
.foot>div:nth-child(1)>div:nth-child(1)>div { display: inline-flex; }
.foot>iframe { display: none; width: 0px; height: 0px; }
/* End Footer */

/* Start Index Page */
.idx>div:nth-child(1) {
    /*margin-top: 5%; */
    /* margin-bottom: 5%; */
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(5)>div>a {
    text-decoration: none;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(8)>div>div>a {
    text-decoration: none;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(9)>div>div>a {
    text-decoration: none;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(5)>div:nth-child(1)>a>div {
    width: 275px;
    /* max-width: 275px; */
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(8)>div:nth-child(1)>div:nth-child(1)>a>div {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(9)>div:nth-child(1)>div:nth-child(1)>a>div {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(9)>div:nth-child(1)>div:nth-child(2) {
    padding-top: 10px;
}
.idx>div:nth-child(1)>div:nth-child(2)>div:nth-child(9)>div:nth-child(1)>div:nth-child(2)>a>div {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#namespaceid {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* End Index Page */

/* Start Privacy */
.privacy {
    margin-top: 1%;
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* End Privacy */

/* Start How To */
.howto {
    margin-top: 1%;
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* End How To */

/* Start Request */

#name, #namespace, #captcha {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#name {
    width: 400px;
}
#namespace {
    width: 400px;
}
#captcha {
    width: 135px;
}
.request {
    margin-top: 1%;
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* End Request */

/* Start Contact */
#keva_name, #request_type, #message, #email, #request_id {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#request_type {
    border-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.contact {
    margin-top: 1%;
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact textarea {
    width: 100%;
    height: 150px;
}
/* End Contact */

/* Start About */
.fa-heart { color: red; }
.brand_logo { height: 1.33333em; line-height: .75em; vertical-align: -.0667em; }
.donate>div {
    padding-bottom: 2em;
}
.donate img {
    width: 100%;
    /* max-width: 100%; */
    height: auto;
    max-width: 250px;
}
.donate a { width: 50%; text-overflow: ellipsis; /* overflow-wrap: break-word; */ overflow: hidden; display: inline-block }
.about {
    margin-top: 1%;
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* End About */

/* Start Search */
#search {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    border: none;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.search {
    margin-top: 1%;
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* End Search */

/* Start Profile Block */
.profile-head {
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.avatar {
    max-width: 100%;
    max-height: 150px;
}
.avatar_box>div {
    display: inline-block;
}
.avatar_box>div:nth-child(1)>div:nth-child(2) {
    text-align: center;
    font-size: x-large;
    padding: 5px;
}
.avatar_box>div:nth-child(1)>div:nth-child(3)>div {
    padding: 5px;
}
/* .bio_box>div {
    height: auto;
    max-height: 250px;
}
.bio_box>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */

.bio_box>div:nth-child(1) {
    font-size: xx-large;
    
}
.findme_box {
    display: flex;
    align-items: center;
    padding: 10px;
}
.findme {
    list-style: none;
    padding-left: 0;
}
.findme>li {
    padding: 5px;
}
.findme>li span {
    padding: 10px;
}
/* End Profile Block */

/* Start Marketplace */
.nft-wrap {
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    
    margin-bottom: 20px;
}
.nft-wrap a {
    text-decoration: none;
    color: inherit;
}
.nft-item {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.nft-head {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.nft-head>div:nth-child(1) {
    display: flex;
    align-items: center;
    
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 40px;
}
.nft-head>div:nth-child(1)>div:nth-child(1) {
    font-size: 1.75em;    
}
.nft-head>div:nth-child(1)>div:nth-child(2) {
    justify-content: center;
    text-align: center;
    
}
.nft-head>div:nth-child(1)>div:nth-child(3) {
    /* font-size: large; */
    text-align: right;
    justify-content: right;
}



.nft-title>div:nth-child(1) {
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    
    padding-left: 15px;
}
.nft-title>div:nth-child(2) {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    
}
.nft-title2>div:nth-child(1) {
    padding-left: 15px;
}

.nft-main {
    padding-left: 5px;
    padding-right: 5px;
    
}
.nft-main>div:nth-child(1) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-break:keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    max-height: 30px;
    min-height: 30px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nft-main>div:nth-child(1)>div:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.nft-images>div:nth-child(1)>div:nth-child(1)>div {   
    display: flex;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    text-align: center;
}
.nft-images>div:nth-child(1)>div:nth-child(1)>div>div {   
    max-height: 150px;
    max-width: 100%;
}
.nft-images>div:nth-child(1)>div:nth-child(1)>div>div>img {
    max-height: 100%;
    max-width: 100%;
}

.nft-foot {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
/* End Marketplace */

/* Start Namespace Result Block */
.rs-wrap {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}
.rs-wrap pre, .rs-wrap tt {
    white-space:pre-line;
    font-size: smaller;
    overflow-wrap: break-word;
}
.rs-wrap a {
    white-space:pre-line;
    overflow-wrap: break-word;
}
.rs-head {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.rs-head>div:nth-child(1) {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.rs-head>div:nth-child(1)>div {
    display: inline-block;
}
.rs-head>div:nth-child(2) {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}
.rs-head>div:nth-child(2)>div>div {
    display: inline-flex;
}
.rs-head>div:nth-child(2)>div:nth-child(2) {
    font-size: medium;
}
.rs-title {
    margin-left: 5px;
    margin-right: 5px;
    word-break: break-word;
}
.rs-title>div:nth-child(1) {
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.rs-title>div:nth-child(2) {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 10px;
}
.rs-main {
    padding-left: 5px;
    padding-right: 5px;
}
.rs-main>div:nth-child(1) {
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-break:keep-all;
    overflow-wrap: break-word;
    white-space: pre-line;
}
.rs-main>div:nth-of-type(1) img {
    max-height: 75vh;
    max-width: 100%;
    width: auto;
}
.rs-main>div:nth-of-type(1) iframe {
    width: 150vw;
    height: 150vh;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.rs-foot {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.rs-foot>div:nth-child(1) {
    padding-top: 6px;
}
.rs-foot>div:nth-child(2) {
    display: inline-block;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
}
.vbtn>form>div {
    display: inline-flex;
    flex-direction: row;
}
.vbtn>form>div>div>button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.vd>button:hover { color: red; }
.vu>button:hover { color: green; }
#marker { visibility: hidden; display:none; }


.rs-reply {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.rs-reply-head {
    padding-left: 5px;
    padding-right: 5px;
}
.rs-reply-head>div:nth-child(1) {
    display: flex;
    align-items: center;
    height: 26px;
}
.rs-reply-main {
    padding-left: 5px;
    padding-right: 5px;
    min-height: 30px;
}
.rs-reply-main>div:nth-child(1) {
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    min-height: 26px;
    align-items: center;
    display: flex;
}
.rs-reply-main>div:nth-of-type(1) {
    border-radius: 10px;
}
.rs-reply-main>div:nth-of-type(1) img {
    width: 100%;
}


.rs-reward {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.rs-reward-head {
    padding-left: 5px;
    padding-right: 5px;
}
.rs-reward-head>div:nth-child(1) {
    display: flex;
    align-items: center;
    height: 26px;
}



.rs-repost {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    white-space: normal;
}
.rs-repost pre, .rs-repost tt {
    white-space:pre-line;
    font-size: smaller;
    overflow-wrap: break-word;
}
.rs-repost a {
    white-space:pre-line;
    overflow-wrap: break-word;
}
.rs-repost-head {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.rs-repost-head>div:nth-child(1) {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.rs-repost-head>div:nth-child(1)>div {
    display: inline-block;
}
.rs-repost-head>div:nth-child(2) {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}
.rs-repost-head>div:nth-child(2)>div>div {
    display: inline-flex;
}
.rs-repost-head>div:nth-child(2)>div:nth-child(2) {
    font-size: medium;
}
.rs-repost-title {
    margin-left: 5px;
    margin-right: 5px;
}
.rs-repost-title>div:nth-child(1) {
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.rs-repost-title>div:nth-child(2) {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 10px;
}
.rs-repost-main {
    padding-left: 5px;
    padding-right: 5px;
}
.rs-repost-main>div:nth-child(1) {
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: line;
}
.rs-repost-main>div:nth-of-type(1) img {
    max-height: 75vh;
    max-width: 100%;
    width: auto;
}
/* End Namespace Result Block */




/* Start Displays */
@media only screen and (max-width: 500px) {
    [class*="xrs-"] {
        padding-left: 0;
        padding-right: 0;
    }
    .bio_box>div:nth-child(1) {
        font-size: medium;
    }
    .kvl img {
        height: 6em;
    }
    .kvlm img {
        height: 8em;
    }
    .m0 { display: none; }
    .m1 { width: 100%; }
    .m2 { width: 50%; }
    .m3 { width: 33.33%; }
    .m6 { width: 16.66%; }
    .pnav span {
        display: none;
    }
    #search { width: 100%; }
    #name { width: 100%; }
    #namespace {
        width: 100%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 768px) {
    [class*="xrs-"] {
        padding-left: 5%;
        padding-right: 5%;
    }
    .bio_box>div:nth-child(1) {
        font-size: large;
    }
    .m0 { display: none; }
    .m1 { width: 100%; }
    .m2 { width: 50%; }
    .m3 { width: 33.33%; }
    .m6 { width: 16.66%; }
    .pnav span {
        display: none;
    }
    #search { width: 95%; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    [class*="xrs-"] {
        padding-left: 15%;
        padding-right: 15%;
    }
    .bio_box>div:nth-child(1) {
        font-size: x-large;
    }
    
    #search { width: 90%; }
}
@media only screen and (min-width: 1024px) {
    [class*="xrs-"] {
        padding-left: 20%;
        padding-right: 20%;
    }
    #search { width: 85%; }
}



@media only screen and (min-width: 600px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* End Displays */


/* Keva World Game */

#world {
    margin-left: 16px;
    margin-right: 16px;
    
}
/*
#world>div {
    display: flex;
    justify-content: center;
    text-align: center;
}

#plane {
    width: 100vw;
    height: auto;
} */

#coords>div {
    width: 100%;
    display: inline-flex;
    background-color: lightgoldenrodyellow;
}
#coords>div:nth-child(1)>div:nth-child(1)>span::before { content: "Window x: "; }
#coords>div:nth-child(1)>div:nth-child(2)>span::before { content: "Window y: "; }
#coords>div:nth-child(1)>div:nth-child(3)>span::before { content: "Block: "; }
#coords>div:nth-child(1)>div:nth-child(4)>span::before { content: "Block x: "; }
#coords>div:nth-child(1)>div:nth-child(5)>span::before { content: "Block y: "; }
#coords>div:nth-child(1)>div:nth-child(6)>span::before { content: "Scene x: "; }
#coords>div:nth-child(1)>div:nth-child(7)>span::before { content: "Scene y: "; }
